html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
:focus {
  /* remember to define focus styles! */
  outline: 0;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a img {
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* =Global
----------------------------------------------- */
body,
input,
textarea {
  color: #373737;
  font: 15px helvetica, "微软雅黑", "microsoft yahei", verdana, lucida, arial, sans-serif, "黑体";
  font-weight: 300;
  line-height: 1.625;
}
body {
  background: #EEEEEE;
}
#page {
  background: #fff;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.625em;
}
/* Text elements */
ul,
ol {
  margin: 0 0 1.625em 2.5em;
}
ul {
  list-style: square;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}
dl {
  margin: 0 1.625em;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.625em;
}
strong {
  font-weight: bold;
}
cite,
em,
i {
  font-style: italic;
}
blockquote {
  font-family: Georgia, "Bitstream Charter", serif;
  font-style: italic;
  font-weight: normal;
  margin: 0 3em;
}
blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}
blockquote cite {
  color: #666;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
pre {
  background: #f4f4f4;
  font: 13px "Courier 10 Pitch", Courier, monospace;
  line-height: 1.5;
  margin-bottom: 1.625em;
  overflow: auto;
  padding: 0.75em 1.625em;
}
code,
kbd,
samp,
var {
  font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym,
dfn {
  border-bottom: 1px dotted #666;
  cursor: help;
}
address {
  display: block;
  margin: 0 0 1.625em;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
/* Forms */
input[type=text],
input[type=password],
textarea {
  color: #888;
}
input[type=text]:focus,
textarea:focus {
  color: #373737;
}
textarea {
  padding-left: 3px;
  width: 98%;
}
input {
  padding: 3px;
}
input#s {
  background: url(images/search.png) no-repeat 5px 6px;
  border-radius: 2px;
  font-size: 14px;
  height: 22px;
  line-height: 1.2em;
  padding: 4px 10px 4px 28px;
}
input#searchsubmit {
  display: none;
}
/* Links */
a {
  color: #1982d1;
  text-decoration: none;
}
a:focus,
a:active,
a:hover {
  text-decoration: underline;
}
/* Assistive text */
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
  background: #eee;
  border-bottom: 1px solid #ddd;
  color: #1982d1;
  clip: auto !important;
  font-size: 12px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  left: 7.6%;
}
.pd-lr-xs {
  padding: 0 6px;
}
.pd-l-xs {
  padding-left: 6px;
}
.pd-l-sm {
  padding-left: 12px;
}
a:hover {
  text-decoration: none;
}
.btn-flat.btn-black {
  background: #000;
  color: #fff;
}
.radius-0 {
  border-radius: 0;
}
.border-non {
  border: none;
}
.white-block {
  height: 24px;
}
.white-block-12 {
  height: 12px;
}
.img-responsive {
  max-width: 100%;
}
@font-face {
  font-family: "glyphicons";
  src: url("../fonts/glyphicons-halflings-regular.ttf");
}
html,
body,
.page {
  width: 100%;
  height: 100%;
}
.page {
  padding: 5%;
  height: auto;
  min-height: 100%;
  overflow: auto;
  position: relative;
}
.npd {
  padding: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.copyright {
  text-align: center;
  margin: 24px 0 72px;
  color: #777777;
}
.content-box {
  padding: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.row {
  position: relative;
}
.row::after {
  content: ' ';
  clear: both;
  display: block;
}
.row > * {
  min-height: 1px;
  position: relative;
}
.col-1 {
  width: 8.33333333%;
  float: left;
}
.col-2 {
  width: 16.66666667%;
  float: left;
}
.col-3 {
  width: 25%;
  float: left;
}
.col-4 {
  width: 33.33333333%;
  float: left;
}
.col-5 {
  width: 41.66666667%;
  float: left;
}
.col-6 {
  width: 50%;
  float: left;
}
.col-7 {
  width: 58.33333333%;
  float: left;
}
.col-8 {
  width: 66.66666667%;
  float: left;
}
.col-9 {
  width: 75%;
  float: left;
}
.col-10 {
  width: 83.33333333%;
  float: left;
}
.col-11 {
  width: 91.66666667%;
  float: left;
}
.col-12 {
  width: 100%;
  float: left;
}
.p1 {
  padding: 1px;
}
a:hover,
a:visited,
a:active,
a:focus {
  outline: none;
}
a:visited {
  color: inherit;
}
.hidden {
  display: none;
}
.small {
  font-size: 13px;
}
span.glyphicons {
  font-family: 'glyphicons';
  line-height: 36px;
  padding: 0 6px;
}
span.glyphicons.arrow-down::before {
  content: "\e114";
}
.bg-orange {
  background-color: #fd8a24;
}
.brr {
  border-radius: 3px;
}
.top-brr {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.bottom-brr {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.left-brr {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.right-brr {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.nobg {
  background: none;
}
input {
  border-radius: 0;
  margin: 0;
  box-shadow: none;
}
input[disabled] {
  color: #373737;
}
input,
button,
.notice,
.btn-full {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #ff8a00;
  font-size: 15px;
}
input.line-higher,
button.line-higher,
.notice.line-higher,
.btn-full.line-higher {
  height: 42px;
}
a.btn-full {
  text-align: center;
  line-height: 36px;
  color: #fff;
  padding: 0;
  font-weight: normal;
  font-size: 15px;
}
a.btn-full.line-higher {
  height: 42px;
  line-height: 42px;
}
.btn-half {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.inline {
  display: inline-block;
}
hr {
  margin: 6px auto;
  background: #cfcfcf;
}
.mt2 {
  margin-top: 48px;
}
.mt {
  margin-top: 24px;
}
.mt05 {
  margin-top: 12px;
}
.mt033 {
  margin-top: 8px;
}
.mb05 {
  margin-bottom: 12px;
}
.mb033 {
  margin-bottom: 8px;
}
.pt2 {
  padding-top: 48px;
}
.pt {
  padding-top: 24px;
}
.pd05 {
  padding: 12px;
}
.pd {
  padding: 24px;
}
.pd2 {
  padding: 48px;
}
.pd025 {
  padding: 6px;
}
::-webkit-input-placeholder {
  color: #cdcdcd;
}
:-moz-placeholder {
  color: #cdcdcd;
}
:-ms-input-placeholder {
  /* IE10+ */
  color: #cdcdcd;
}
.c-d-gray {
  color: #777777;
}
.c-gray {
  color: #cdcdcd;
}
.c-orange {
  color: #fd8a24;
}
.bg-orange {
  background: #fd8a24;
  color: #fff;
}
.br {
  border: 1px solid #d9d9d9;
}
.notice {
  height: 96px;
  overflow: auto;
}
.page.bg-city {
  background: #ececec url(../img/bg-city.png) no-repeat center bottom;
  background-size: contain;
}
h2 {
  font-weight: bold;
  font-size: 18px;
  margin: 12px 1px;
}
.indent p {
  text-indent: 2em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-center {
  margin: 0 auto;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group input,
.input-group .addon {
  display: table-cell;
}
.input-group input {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  border: 1px solid #d9d9d9;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.input-group .addon {
  padding: 0 6px;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.selection-box {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  max-height: 100%;
  overflow: auto;
}
.selection-box .title {
  text-align: center;
  color: #eee;
  position: absolute;
  top: -36px;
  width: 100%;
}
.selection-box .inner {
  position: absolute;
  max-height: 80%;
  width: 100%;
  top: 50%;
  background: #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.selection-box ul li {
  border-bottom: 1px solid #f4f4f4;
  text-align: center;
  line-height: 48px;
}
.selection-box ul li:nth-last-child(1) {
  border: none;
}
.btn {
  padding: 6px 12px;
  background: #FFF2DB;
  color: #820211;
}
.btn:visited {
  color: #820211;
}
.btn-small {
  padding: 1px 8px;
  font-size: 13px;
}
.btn-lg {
  padding: 12px 36px;
  display: block;
}
.btn-lg.btn-circle {
  border-radius: 48px;
}
.btn-block {
  display: inline-block;
}
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  color: #820211;
}
.modal .inner {
  width: 80%;
  left: 10%;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #FFF2DB;
}
.modal.show {
  display: block;
}
.modal .btn {
  background: #820211;
  color: #FFF2DB;
}
.overhead-box {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 96px 24px 24px;
  width: 80%;
  margin: 100px auto 0;
}
.overhead-box p {
  text-align: justify;
}
.overhead-box .img-circle-wrapper {
  border-radius: 100%;
  background: #fff;
  position: relative;
  width: 150px;
  height: 150px;
}
.overhead-box .img-circle-wrapper img {
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.overhead-box .title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.state-bar {
  background: #FFF2DB;
  height: 24px;
  width: 90%;
  position: absolute;
  left: 5%;
}
.state-bar .inner {
  background: #820211;
  height: 24px;
  width: 0%;
  border: 1px solid #FFF2DB;
  -webkit-animation-name: count-down;
          animation-name: count-down;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes count-down {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes count-down {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.page {
  background: #D40A24;
  color: #fff;
}
.logo {
  width: 25%;
  position: absolute;
  left: 5%;
  top: 3%;
}
.the-circle-btn {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 7px solid #fff;
  border-radius: 100%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.the-circle-btn .img-responsive {
  max-width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.light {
  color: #FFF2DB;
}
.dark {
  color: #fda400;
}
.text-lg {
  font-size: 18px;
}
footer.main {
  position: fixed;
  bottom: 16px;
  display: table;
  left: 10%;
  width: 80%;
}
footer.main .wrapper {
  display: table-cell;
  width: 33.33%;
  text-align: center;
}
.game-state {
  position: absolute;
  left: 0;
  width: 100%;
  height: 15%;
}
.game-state .count {
  height: 48px;
  line-height: 48px;
  width: 90%;
  position: absolute;
  left: 5%;
  font-size: 24px;
}
.digital-board {
  height: 100%;
  line-height: inherit;
  font-weight: bold;
  position: relative;
  margin-left: -5px;
  margin-right: -5px;
}
.digital-board .num {
  height: 100%;
  padding: 0 5px;
}
.digital-board .num .inner {
  height: 100%;
  background: #FFF2DB;
  border-radius: 3px;
  color: #820211;
  text-align: center;
}
.game-box {
  width: 100%;
  left: 0;
  top: 15%;
  position: absolute;
  bottom: 48px;
  overflow: hidden;
}
.game-box .target {
  background-repeat: no-repeat;
  background-size: contain;
}
.game-box .target .the-value {
  color: #fff;
  font-size: 20px;
  display: none;
}
.game-box .target.start {
  -webkit-animation: fall linear;
          animation: fall linear;
}
.game-box .target.start.fast {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.game-box .target.start.normal {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.game-box .target.start.slow {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.game-box .target.bingo {
  background: none;
}
.game-box .target.bingo .the-value {
  display: block;
}
.game-box .target-two {
  width: 60px;
  height: 120px;
  background: green;
  position: absolute;
  top: -60px;
}
.game-box .target-one {
  width: 80px;
  height: 150px;
  background-image: url(../img/sheep02.png);
  position: absolute;
  top: -60px;
}
@-webkit-keyframes fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
.result h1 {
  margin: 48px 0 24px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.result .digital-board {
  height: 72px;
  font-size: 30px;
}
.result .digital-board .inner {
  line-height: 72px;
}
.result .unit {
  line-height: 96px;
  font-size: 16px;
  font-weight: bold;
}
.result .btn {
  width: 150px;
  padding: 12px 0;
}
.result .text-center.mt2 {
  margin-top: 72px;
}
.hero,
.gift {
  padding: 24px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  position: relative;
  margin-top: 48px;
}
.hero h2,
.gift h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  padding: 0;
}
.gift .list .item,
.hero .list .item {
  display: table;
  width: 100%;
}
.gift .icon,
.hero .icon,
.gift .mark,
.hero .mark,
.gift .action,
.hero .action {
  display: table-cell;
  text-align: center;
  width: 33.33%;
}
.hero .icon {
  width: 50%;
}
.hero .mark {
  width: 16.66%;
}
.charts .logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  width: 30%;
}
.charts .logo-text {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.charts .charts-box {
  width: 80%;
  left: 10%;
  position: relative;
  padding-top: 84%;
  background: url(../img/charts.png) no-repeat;
  background-size: 100% 100%;
}
.charts .charts-box .inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 25% 10% 10%;
}
.charts .list-head {
  border-bottom: 1px solid #fff;
}
.charts .my-info {
  position: absolute;
  width: 100%;
  bottom: 8%;
  left: 0;
}
.charts .list {
  max-height: 144px;
  overflow: auto;
  position: relative;
  padding-right: 5px;
}
.charts .action {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.charts .num {
  text-align: right;
}
.overhead-box .img-circle-wrapper {
  width: 100px;
  height: 100px;
}
.overhead-box .img-circle-wrapper img {
  max-width: 70%;
}