@import "mobile.less";

.page {
	background: #D40A24;
	color: #fff;
}

.logo {
	width: 25%;
	position: absolute;
	left: 5%;
	top: 3%;
}

.the-circle-btn {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: 7px solid #fff;
	border-radius: 100%;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	.img-responsive {
		max-width: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.light {
	color: #FFF2DB;
}

.dark {
	color: #fda400;
}

.text-lg {
	font-size: 18px;
}

// ----------------------------------------
// ! footer
// ----------------------------------------
footer.main {
	position: fixed;
	bottom: 16px;
	display: table;
	left: 10%;
	width: 80%;
	
	.wrapper {
		display: table-cell;
		width: 33.33%;
		text-align: center;
	}
}



// ----------------------------------------
// ! game
// ----------------------------------------
.game-state {
	position: absolute;
	left: 0;
	width: 100%;
	height: 15%;


	.count{
		height: @h-line * 2;
		line-height: @h-line * 2;
		width: 90%;
		position: absolute;
		left: 5%;
		font-size: 24px;
	}
}

.digital-board{
	height: 100%;
	line-height: inherit;
	font-weight: bold;
	position: relative;
	margin-left: -5px;
	margin-right: -5px;

	.num {
		height: 100%;
		padding: 0 5px;

		.inner {
			height: 100%;
			background: #FFF2DB;
			.brr();
			color: #820211;
			text-align: center;
		}
	}
}

.game-box {
	width: 100%;
	left: 0;
	top: 15%;
	position: absolute;
	bottom: 48px;
	overflow: hidden;

	.target {

		background-repeat: no-repeat;
		background-size: contain;

		.the-value {
			color: #fff;
			font-size: 20px;
			display: none;
			//transition: all .15s;
		}

		&.start {
			animation: fall linear;
			
			&.fast {
				animation-duration: 2s;
			}

			&.normal {
				animation-duration: 3s;
			}

			&.slow {
				animation-duration: 5s;
			}
		}

		&.bingo {
			background: none;

			.the-value {
				display: block;
			}
		}
	}

	.target-two {
		width: 60px;
		height: 120px;
		background: green;
		position: absolute;
		top: -60px;
	}

	.target-one {
		width: 80px;
		height: 150px;
		background-image: url(../img/sheep02.png);
		//border-radius: 36px;
		position: absolute;
		top: -60px;
	}
}

@keyframes fall {
	0% {
		top: -10%;
	}

	100% {
		top: 100%;
	}
}

// ----------------------------------------
// ! page of result
// ----------------------------------------
.result {
	h1 {
		margin: 48px 0 24px;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}
	.digital-board {
		height: @h-line * 3;
		font-size: 30px;

		.inner {
			line-height: @h-line * 3;
		}
	}

	.unit {
		line-height: @h-line * 4;
		font-size: 18px;
		font-weight: bold;
	}

	.btn {
		width: 150px;
		padding: 12px 0;
	}

	.text-center.mt2 {
		margin-top: @h-line * 3;
	}
}

// ----------------------------------------
// ! page of user
// ----------------------------------------
.hero, .gift {
	.content-box();
	.brr();
	.br();
	position: relative;
	.mt2();

	h2 {
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0;
		top: 0;
		transform: translateY(-50%);
		margin: 0;
		padding: 0;
	}
}
.gift, .hero {
	.list .item {
		display: table;
		width: 100%;
	}
	.icon, .mark, .action {
		display: table-cell;
		text-align: center;
		width: 33.33%;
	}
}

.hero {
	.icon {
		width: 50%
	}
	.mark {
		width: 16.66%;
	}
}


// ----------------------------------------
// ! page of charts
// ----------------------------------------
.charts {
	.logo {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		width: 30%;
	}

	.logo-text {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.charts-box {
		width: 80%;
		left: 10%;
		position: relative;
		padding-top: 84%;
		background: url(../img/charts.png) no-repeat;
		background-size: 100% 100%;

		.inner {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			//overflow: auto;
			width: 100%;
			height: 100%;
			padding: 25% 10% 10%;
		}
	}

	.list-head {
		border-bottom: 1px solid #fff;
	}

	.my-info {
		position: absolute;
		width: 100%;
		bottom: 8%;
		left: 0;
	}

	.list {
		max-height: @h-line * 6;
		overflow: auto;
		position: relative;
		padding-right: 5px;
	}

	.action {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}

	.num {
		text-align: right;
	}
}
