extends inc/base

block title
	title 排行榜

block inpage
	.main
		.charts
			.logo.mt05
				img.img-responsive(src="img/logo.png")
			.logo-text.mt033
				img.img-responsive(src="img/logo-text.png")

			.charts-box
				.inner
					.list-head
						.player.row
							.name.col-3 姓名
							.mark.col-7 手机号
							.num.col-2 名次	
					.list
						+player(1)				
						+player(2)				
						+player(3)				
						+player(4)
						+player(5)
						+player(6)
						+player(7)
						+player(8)
					.my-info
						p.dark.text-center 我的羊毛：93    我的排名：88

			.row.mt.action
				.col-5
					a.btn(href="notice.html") 不服重来
				.col-1
				.col-6.text-right
					a.btn(href="share.html") 召唤小伙伴