extends inc/base

block title
	title 首页

block inpage
	.logo
		//- img.img-responsive(src="img/logo-white.png")
		p LOGO
	.main
		.text-center 口号口号.
		.text-center.mt2
			a.btn.btn-lg.btn-circle(href="game.html") 开始

block footer
	+footer('rule', '游戏规则')