extends inc/base

block title
	title 首页

block inpage
	.logo
		img.img-responsive(src="img/logo.png")
	.row.mt2
		.col-2
		.col-8
			img.img-responsive(src='img/index-01.png')
	a.the-circle-btn(href="notice.html")
		img.img-responsive(src='img/index-btn.png')

block footer