extends inc/base

block title
	title 提示

block inpage
	h2.text-center
		p 羊头图片
		img(src="")
	.main
		.text-center.content-box
			p 15秒内点击屏幕上落下的羊，点中了就薅羊毛成功，薅到的羊毛越多，积分越高。活动结束后，游戏排行榜的前N名获得礼品。还可以邀请小伙伴助力，一起欢乐薅羊毛。
		.mt.text-center
			a.btn(href="game.html") 我知道了
		
