extends inc/base

block title
	title 游戏规则

block inpage
	.main
		.inner.rule
			h1.text-center 游戏规则
			.text-center
				p rule line one
				p rule line one
				p rule line one
				p rule line one
				p rule line one
				p rule line one
				p rule line one
