extends inc/base

block title
	title 游戏规则

block css
	//- link(rel="stylesheet",href="css/jquery.swipeshow.css")

block page
	.page.rule
		h1 游戏规则
		h3 活动时间
		.content
			p ..
		h3 活动规则
		.content
			p ..
		h3 活动奖品
		.content.
			<!-- Modal -->
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			    <!-- Indicators -->
			    <ol class="carousel-indicators">
			        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			    </ol>
			
			    <!-- Wrapper for slides -->
			    <div class="carousel-inner">
			        <div class="item active">
			            <img class="img-responsive" src="img/slide1.jpg" alt="...">
			        </div>
			        <div class="item">
			            <img class="img-responsive" src="img/slide3.jpg" alt="...">
			        </div>
			        <div class="item">
			            <img class="img-responsive" src="img/slide2.jpg" alt="...">
			        </div>
			    </div>
			</div>
			
		

		h3 领奖指南
		.content
			p 这儿是领奖指南。这儿是领奖指南。这儿是领奖指南。这儿是领奖指南。
		.text-center.mt2
			a.btn.btn-lg(href="index.html") 返回

block js
	//- script(src="js/jquery.swipeshow.min.js")