extends inc/base

block title
	title 游戏规则

block page
	.page.rule
		h1 游戏规则
		h3 活动时间
		.content
			p ..
		h3 活动规则
		.content
			p ..
		h3 活动奖品
		.content
			p 活动奖品,活动奖品,活动奖品,活动奖品
			p 活动奖品,活动奖品,活动奖品,活动奖品
			p 活动奖品,活动奖品,活动奖品,活动奖品
			p 活动奖品,活动奖品,活动奖品,活动奖品
			p 活动奖品,活动奖品,活动奖品,活动奖品
		h3 领奖指南
		.content
			p 这儿是领奖指南。这儿是领奖指南。这儿是领奖指南。这儿是领奖指南。
		.text-center.mt2
			a.btn.btn-lg.btn-block(href="index.html") 返回
