extends inc/base

block title
	title 游戏规则

block page
	.page.rule
		h1 游戏规则
		h3 活动时间
		.content
			p ..
		h3 活动规则
		.content
			p ..
		h3 活动奖品
		.content
			.ty-carousel
				.inner
					.item
						img(src="img/slide1.jpg")
					.item
						img(src="img/slide2.jpg")
					.item
						img(src="img/slide3.jpg")
				.controller
					a(data-target=1, href="#")
					a(data-target=2, href="#")
					a(data-target=3, href="#")

		h3 领奖指南
		.content
			p 这儿是领奖指南。这儿是领奖指南。这儿是领奖指南。这儿是领奖指南。
		.text-center.mt2
			a.btn.btn-lg.btn-block(href="index.html") 返回
